<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collectplatform.project.dao.ProjectDao">

    <resultMap id="ProjectResultMap" type="com.collectplatform.project.vo.ProjectVo.ListOutVo">
        <id property="id" column="id" jdbcType="VARCHAR"></id>
        <result property="projectName" column="projectName" jdbcType="VARCHAR"></result>
        <result property="addTime" column="addTime" jdbcType="VARCHAR"></result>
        <result property="updateTime" column="updateTime" jdbcType="VARCHAR"></result>
        <collection property="tagList" column="id" select="getTagList">
        </collection>
    </resultMap>


    <select id="listPage" resultMap="ProjectResultMap">
        SELECT
            PRO.id as id, PRO.project_name as projectName, PRO.add_time as addTime, PRO.update_time as updateTime
        FROM
            proj_project PRO
        ${ew.customSqlSegment}
    </select>


    <select id="getTagList" resultType="com.collectplatform.project.vo.ProjectVo.ListTagVo">
        SELECT
            id AS tagId,
            `name` AS tagName,
            (SELECT id FROM proj_label b WHERE a.parent_id = b.id) AS parentId,
            (SELECT `name` FROM proj_label c WHERE a.parent_id = c.id) AS parentName
        FROM
            proj_label AS a
        WHERE id = (SELECT
                        proj_tag.tag_id
                    FROM
                        proj_tag
                    JOIN
                        proj_label
                    ON
                    proj_tag.tag_id = proj_label.id
        WHERE
            project_id = #{id})
    </select>


    <select id="listAll" resultMap="ProjectResultMap">
        SELECT
            PRO.id as id, PRO.project_name as projectName, PRO.add_time as addTime, PRO.update_time as updateTime
        FROM
            proj_project PRO
        ${ew.customSqlSegment}
    </select>
</mapper>