<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collectplatform.project.dao.ProjectDao">
    <select id="listPage" resultType="com.collectplatform.project.vo.ProjectVo.ListOutVo">
        SELECT
            project.id as id,
            project.project_name as projectName,
            project_tag.tag as tag
        FROM
            project_tag, project
        ${ew.customSqlSegment}
        AND project.id = project_tag.project_id
    </select>

    <select id="listAll" resultType="com.collectplatform.project.vo.ProjectVo.ListOutVo">
        SELECT
            *
        FROM
            project
        ${ew.customSqlSegment}
    </select>
</mapper>